<p>budget-tree works!</p>
<button (click)="printResponse()">Print json</button>

<div>
  <button (click)="isGroupPressed = !isGroupPressed">↓</button>Marketing

  <div style="margin-left: 50px" *ngIf="isGroupPressed">
    <div *ngFor="let itemGroupId of budgetItemService.getGroupList(budgetItemService.allBudgetItems$ | async); let i = index">
<!--      <button (click)="isCategoryPressed = !isCategoryPressed">↓</button>-->
      <button (click)="isCategoryPressed[i] = !isCategoryPressed[i]">↓</button>
      {{itemGroupId | getName: "Group": (budgetItemService.allBudgetItems$ | async)}}

      <div style="margin-left: 50px" *ngIf="isCategoryPressed[i]">
        <div
          *ngFor="let itemCategoryId of budgetItemService.getCategoryList(itemGroupId, budgetItemService.allBudgetItems$ | async)">
          <button>↓</button>
          {{itemCategoryId | getName: "Category": (budgetItemService.allBudgetItems$ | async)}}


          <div style="margin-left: 50px" *ngIf="isCategoryPressed[i]">
            <div
              *ngFor="let itemSubCategoryId of budgetItemService.getSubCategoryList(itemCategoryId, budgetItemService.allBudgetItems$ | async)">
<!--              <button>↓</button>-->
              {{itemSubCategoryId | getName: "SubCategory": (budgetItemService.allBudgetItems$ | async)}}

            </div>

        </div>

      </div>
    </div>

  </div>
</div>
