<button (click)="shawAllDepartments()">Department</button>
<button (click)="shawAllGroups()">Group</button>
<button (click)="shawAllCategories()">Category</button>
<button (click)="shawAllSubCategories()">Sub-Category</button>

<br>

<ul style="list-style-type: none;">
  {{"JSON depth = " + getLevelsCount(budgetItemService.allBudgetItems$ | async).length}}
  <li
    *ngFor="let itemDepartmentId of (budgetItemService.allBudgetItems$ | async) | getIdLists: 'Department'; let departmentIndex = index">
    <button (click)="isGroupPressed = !isGroupPressed">↓</button>
    {{itemDepartmentId | getName: "Department": (budgetItemService.allBudgetItems$ | async)}}
    <span>{{(budgetItemService.allBudgetItems$ | async) | calculateBudget:itemDepartmentId:'Department'}}</span>
    <ul *ngIf="isGroupPressed" style="list-style-type: none;">
      <li
        *ngFor="let itemGroupId of (budgetItemService.allBudgetItems$ | async) | getIdLists: 'Group'; let groupIndex = index;">
        <button (click)="isCategoryPressed[groupIndex] = !isCategoryPressed[groupIndex]">↓</button>
        {{itemGroupId | getName: "Group": (budgetItemService.allBudgetItems$ | async)}}
        <span>{{(budgetItemService.allBudgetItems$ | async) | calculateBudget:itemGroupId:'Group'}}</span>
        <ul *ngIf="isCategoryPressed[groupIndex]" style="list-style-type: none;">
          <li
            *ngFor="let itemCategoryId of (budgetItemService.allBudgetItems$ | async) | getIdLists: 'Category': itemGroupId; let categoryIndex = index">
            <button
              (click)="isSubCategoryPressed[groupIndex][categoryIndex] = !isSubCategoryPressed[groupIndex][categoryIndex]">
              ↓
            </button>
            {{itemCategoryId | getName: "Category": (budgetItemService.allBudgetItems$ | async)}}
            <span>{{(budgetItemService.allBudgetItems$ | async) | calculateBudget:itemCategoryId:'Category'}}</span>
            <ul *ngIf="isSubCategoryPressed[groupIndex][categoryIndex]" style="list-style-type: none;">
              <li
                *ngFor="let itemSubCategoryId of (budgetItemService.allBudgetItems$ | async) | getIdLists : 'SubCategory':itemCategoryId">
                {{itemSubCategoryId | getName: "SubCategory": (budgetItemService.allBudgetItems$ | async)}}
                <span>{{(budgetItemService.allBudgetItems$ | async) | calculateBudget:itemSubCategoryId:'SubCategory'}}</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>


